
<!DOCTYPE html>
<html>
<head>
    <title>Node.js Quiz</title>
</head>
<body>
    <h1>Node.js Quiz</h1>
    <form id="quizForm" method="POST" action="/submit">
        <% questions.forEach((question, index) => { %>
            <h3>Question <%= index + 1 %>:<p><%= question.text %></p></h3>
            
            <% question.options.forEach((option, optionIndex) => { %>
                <input type="radio" id="option<%= optionIndex %>" name="answer<%= index %>" value="<%= option %>">
                <label for="option<%= optionIndex %>"><%= option %></label><br>
            <% }) %>
            <br>
        <% }) %>
        <input type="submit" value="Submit">
    </form>
</body>
</html>