<!DOCTYPE html>
<html>
<head>
    <title>Node.js Quiz</title>
</head>
<body>
    <h1>Node.js Quiz</h1>
    <form id="quizForm" method="POST" action="/submit">
        <% questions.forEach((question, index) => { %>
            <h3>Question <%= index + 1 %>:<p><%= question.text %></p></h3>
            
            <% question.options.forEach((option) => { %>
                <input type="radio" id="option<%= option.index %>" name="answer<%= index %>" value="<%= option.index %>">
                <label for="option<%= option.index %>"><%= option.text %></label><br>
            <% }) %>
            <br>
        <% }) %>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
